@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h1 class="display-4">University Magazine</h1>
    <p>
        The University's mission is to 'keep students close' to alumni and friends of students by nurturing pride; highlighting the achievements of students, staff, faculty and alumni; and demonstrating students's impact as an intellectual thought leader and private university dedicated to the public good. The magazine is published three times a year (fall, winter, spring/summer).
    </p>
    <a><img src="~/images/logo01.jpg" height="450px" width="600px" /> <img src="~/images/logo02.jpg" height="450px" width="600px" /></a>
    <a><img src="~/images/logo03.jpeg" height="450px" width="600px" /> <img src="~/images/logo04.jpg" height="450px" width="600px" /></a>
</div>
